// 背景图片
bg-image($url)
  background-repeat no-repeat
  background-position center center
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
    background-image url($url + "@3x.png")
  @media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2)
    background-image url($url + "@2x.png")
  @media (-webkit-min-device-pixel-ratio: 1),(min-device-pixel-ratio: 1)
    background-image url($url + "@2x.png")
    background-size 100% 100% !important
// 不换行
no-wrap()
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap

// 扩展点击区域
extend-click()
  position: relative
  &:before
    content: ''
    position: absolute
    top: -10px
    left: -10px
    right: -10px
    bottom: -10px

//背景图片设置
bg-settings()
  background-repeat no-repeat
  background-position center center